## Pandas - Missing Data Practice

In [1]:
# Import necessary libraries for analysis
import numpy as np
import pandas as pd

In [3]:
# Create dictionary
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [4]:
# Create dataframe from dictionary
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### Practice with the dropna method

In [5]:
# Remove missing row data
df.dropna(axis=0)

     A    B  C
0  1.0  5.0  1

In [6]:
# Remove missing column data
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [7]:
# How to specify a threshold -> Set to a limit of 2 or more nan values to drop a column
df.dropna(axis=1,thresh=2)

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [ ]:
# How to specify a threshold -> Set to a limit of 2 or more nan values to drop a row

In [8]:
df.dropna(axis=0,thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

### Practice with the fillna method

In [9]:
df.fillna(value='Fill This')

           A          B  C
0          1          5  1
1          2  Fill This  2
2  Fill This  Fill This  3

In [10]:
# How to fill missing values with the mean of the column
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64