### Dictionaries

In [1]:
d ={'key1':'value', 'key2':123}

In [2]:
d['key1']

'value'

In [3]:
d = {'ky1':[1,2,3]}

In [4]:
d

{'ky1': [1, 2, 3]}

In [6]:
d['ky1'][1]

2

In [59]:
d = {'k1':{'innerkey': [1,2,3]}}

In [11]:
d['k1']['innerkey'][0]

1

### Booleans

In [12]:
# Just True and False

In [13]:
True

True

In [14]:
False

False

### Tuples

In [15]:
t = (1,2,3,4)

In [16]:
t[0]

1

In [17]:
# Tuples are immutable in that we can not reassign items within the list

### Sets

In [18]:
{1,2,3}

{1, 2, 3}

In [19]:
{1,1,1,1,1,2,2,2,2,2,3,3,3,3,3}

{1, 2, 3}

In [20]:
set([1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6])

{1, 2, 3, 4, 5, 6}

### Comparison Operators

In [21]:
1 > 2

False

In [22]:
1 <2

True

In [23]:
1 == 1

True

In [24]:
1 == 2

False

In [26]:
# Combine comparison with Logic
(1 < 2) and (2 < 3)

True

### If, Elif and Else Statements

In [27]:
if 1 < 2:
    print('yep!')

yep!

In [28]:
# The above means
if True:
    print('Perform Code')

Perform Code

In [31]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Middle

## Section: Crash Course Part 3

### For Loops and While Loops

In [1]:
# For Loops allow us to iterate over a sequence
# Used to perform some element of code on every item in a sequence

In [2]:
# We create a sequence object below
seq = [1,2,3,4,5,6]

In [3]:
# Create for loop to to run function on sequence
for item in seq:
    print(item)

1
2
3
4
5
6

In [6]:
# Use while loops to perform action until criteria is met
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

### Range

In [7]:
for x in seq:
    print(x)

1
2
3
4
5
6

In [8]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [9]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Comprehension

In [12]:
# Long form example of creating a list with for loop

x = [1,2,3,4]

out = []

for num in x:
    out.append(num ** 2)
    
print(out)

[1, 4, 9, 16]

In [15]:
# Shortcut with List Comprehensions
out = [num**2 for num in x]
print(out)

[1, 4, 9, 16]

### Functions

In [16]:
# Functions allow for us to reuse code

In [22]:
def myFunction(name='Johnny'):
    print('Hello ' + name)

In [23]:
myFunction('Keith')

Hello Keith

In [24]:
# Request information about functions -> Below suggest the function is a MAIN function
myFunction

In [26]:
# Use parathesis to execute a function
myFunction()

Hello Johnny

#### Returning Function Values

In [32]:
def square(num):
    """
    THIS IS DOCSTRING
    CAN GO MULTIPLE LINES
    THIS FUNCTIONS SQUARES
    A NUMBER
    """
    return num ** 2

In [33]:
square(2)

4

In [34]:
output = square(2)
print(output)

4

In [35]:
range

range

## Section: Crash Course Part 4

### Functions

In [36]:
def times2(var):
    return var*2

In [37]:
times2(5)

10

### Map Function

In [38]:
seq = [1,2,3,4,5]

In [39]:
map(times2, seq)

In [40]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

### Lambda Functions

In [41]:
# We can take 'def times2(var): return var*2' and simplify with Lambda (anonymous) function
lambda var:var*2

# Above is a lambda expression

In [42]:
t = lambda var:var*2

In [43]:
t(4)

8

In [45]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

### Filter Functions

In [46]:
# These are similar to the map function, but allows us to Filter out elements from a Sequence

In [47]:
list(filter(lambda num: num%3 == 0,seq))

[3]

### Methods

In [48]:
# Example using variable and using the Tab feature to display possible methods to use on object
s = 'Hello my name is Sam'

In [49]:
# Make the string lower case
s.lower()

'hello my name is sam'

In [50]:
# Make the string upper case
s.upper()

'HELLO MY NAME IS SAM'

In [51]:
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [52]:
# Example with Tweet
tweet = 'Go Sports!, #Sports'

In [53]:
tweet.split('#')

['Go Sports!, ', 'Sports']

In [54]:
tweet.split('#')[1]

'Sports'

In [63]:
d = {'k1': 1, 'k2':2}

In [64]:
# Diplays the keys of a dictionary
d.keys()

dict_keys(['k1', 'k2'])

In [65]:
# Display the items of a dictionary
d.items()

dict_items([('k1', 1), ('k2', 2)])

### Misc.

In [66]:
# Use the pop method to remove last item from list
lst = [1,2,3]

In [67]:
lst.pop()

3

In [68]:
lst

[1, 2]

In [70]:
lst = [1,2,3,4,5]

In [71]:
item = lst.pop()

In [73]:
# Display the new list
lst

[1, 2, 3, 4]

In [74]:
# Display the popped item
item

5

In [75]:
first = lst.pop()

In [77]:
lst.append(4)

In [78]:
lst

[1, 2, 3, 4]

In [79]:
lst.pop(0)

1

In [80]:
lst

[2, 3, 4]

In [81]:
lst.append('new')

In [82]:
lst

[2, 3, 4, 'new']

### In Operator

In [83]:
# Check to see if value is within a list
'x' in [1,2,3]

False

In [84]:
'x' in ['x','y','z']

True

### Tuple Manipulation

In [85]:
x = [(1,2,),(3,4,),(5,6)]

In [86]:
x[0][1]

2

In [87]:
# Useful for unpacking tuple values from a list
for a,b in x:
    print(a)

1
3
5