## Pandas - Groupby Practice

### Practicing with the groupby method

In [1]:
# Import the necessary libraries
import numpy as np
import pandas as pd

In [2]:
# Create dictionary
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [6]:
# Create dataframe from dictionary 
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [ ]:
# Use groupby method to group rows based on column name